.li {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  list-style: none;
  width: 18rem;
  height: 18rem;
}

.img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.info {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
}

.channelTitle {
  margin-top: 0.2rem;
}

.channelTitle,
.views {
  font-size: 0.85em;
  font-weight: 500;
  color: gray;
}
